.navLink {
  color: black;
  text-decoration: none;
  outline: none; // Xóa hiệu ứng khung khi nhấn
  border: none; // Xóa viền mặc định của nút
  
  &.hover {
    color: #b19567;
    text-decoration: none;
    outline: none; // Xóa hiệu ứng khung khi nhấn
    border: none; // Xóa viền mặc định của nút
  }

  &.active {
    color: #b19567;
    text-decoration: none;
    outline: none; // Xóa hiệu ứng khung khi nhấn
    border: none; // Xóa viền mặc định của nút
  }
}
