.banner-img {
    background-image: url('https://wallpaperaccess.com/full/2474989.jpg');
    background-position: 10% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
  .footer-container {
    padding-top: 2rem;
    padding-bottom: 0.5rem;
  }
  
  .diamond-icon {
    margin-left: 3rem;
  }
  
  .diamond-color {
    color: #B19567;
  }
  
  .diamond-title {
    color: #B19567;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .slogan {
    margin-top: 1rem;
    color: #ccc;
  }
  
  .footer-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-list-item {
    margin-bottom: 8px;
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-link {
    color: #ccc;
    text-decoration: none;
  }
  
  .footer-link:hover {
    color: #B19567;
    text-decoration: none;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .contact-icon {
    color: #ccc;
  }
  
  .contact-text {
    color: #ccc;
  }
  
  .social-links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .social-link {
    text-decoration: none;
  }
  
  .social-icon {
    color: #ccc;
  }
  
  .social-icon:hover {
    color: #B19567;
  }
  
  .footer-bottom {
    color: #fff;
    border-top: 1px solid #fff;
    width: 100%;
    margin-top: 2rem;
    padding: 10px 0;
  }
  
  .footer-bottom-left {
    display: flex;
    justify-content: center;
  }
  
  .footer-bottom-text {
    color: #ccc;
  }
  
  .footer-bottom-right {
    display: flex;
    justify-content: center;
  }
  
  .payment-link {
    text-decoration: none;
  }
  
  .payment-icon {
    width: 40px;
    height: 20px;
  }
  
  .payment-icon:not(:first-of-type) {
    margin-left: 10px;
  }
  
  .payment-icon[alt="MoMo"] {
    object-position: center;
  }
  