html {
  scroll-behavior: smooth;
}

body {
  font-family:Times New Roman, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}

.active {
  color: #B19567; /* Màu chữ của nút khi được kích hoạt */
  text-decoration: none; 
}
